*{
    text-decoration: none !important;
    color: #000000 !important;
    box-sizing: border-box !important;
    list-style: none;
}
#search_Input{
    outline: none;
}
#seachIcon{
    cursor: pointer;
}
.overLayOnFood{
    position: absolute;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: #ffffffa7;
    visibility: hidden;
    /* transition: 1s !important; */
    
}
.overLayOnFood2{
    position: absolute;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: #ffffffa7;
    visibility: hidden;
    /* transition: 1s !important; */
    
}
#CfoodLeft:hover .overLayOnFood{
    visibility: visible; 
    
}
#CfoodRight:hover .overLayOnFood2{
    visibility: visible; 
    
}
 @media(max-width: 992px){
    #Selectprice{
        width:100% !important;
        margin-top: 10px;
    }
 }